img {
	@include img-responsive();
}

ul, li {
	list-style-type: none;
}
ul {
	padding:0;
}

li {
	display: inline-block;
	vertical-align: top;
	padding-left:26px;
	padding-bottom:6px;
	position: relative;
	&:before {
		content:'\25CF';
		color: $green;
		padding-right:10px;
		display: inline-block;
		position: absolute;
		top: 1px;
		left:0;
		vertical-align: top;
	}
}

h2{	
	margin:0;
	padding-bottom: 12px;
	border-bottom: 2px solid $green;
}

.grid__item h3:first-of-type{
	margin-top: 0;
}	

h1, h2, h3, h4, .h4 {
	font-weight:700;
}

h4, .h4 {
	margin-bottom: 0;
}

.services {
	counter-reset: section; 
	h3:before {
		counter-increment: section; 
  		content: counter(section) ". ";
  		color: $green;
	}
}

.hero-lead {
	@extend h1;
	display: inline-block;
	font-size:26px;
	margin:0;
	margin-top:35px;
	vertical-align: top;
	width: 78%;
	@media (max-width: $screen-xxs-max) {
		font-size:25px;
		line-height: 30px;
		margin-top:25px;
		margin-bottom:25px;
		width: 100%;
	}

	@media (min-width: $screen-sm-min) {
		font-size:30px;
	}

	@media (min-width: $screen-md-min) {
		font-size:36px;
	}

	@media (min-width: $screen-lg-min) {
		font-size:42px;
	}
}

.lead {
	font-weight: 700;
}

.white{
	color: #fff;
}
.green{
	color: $green;
}

@media (max-width: $screen-sm-max) {
	h2, .h2 {
		font-size: 24px;
	}
	h3, .h3 {
		font-size: 18px;
	}
}